    	<div class="row">
			<div class="col-md-12">
  				<div class="panel panel-primary">
  	  				<div class="panel-heading">Current Values (2013-11-18 17:31:28)</div>
					<div class="panel-body">
		<div class="row">
			<div class="col-md-3">
  				<div class="panel panel-info">
  	  				<div class="panel-heading">Exterior Temp</div>
					<div class="panel-body" style="text-align: center">
						<h1>13.5<small>&deg;C</small></h1>
					</div>
				</div>
			</div>
			<div class="col-md-3">
  				<div class="panel panel-warning">
  	  				<div class="panel-heading">Interior Temp</div>
					<div class="panel-body">
						<h1>19.0<small>&deg;C</small></h1>
					</div>
				</div>
			</div>
    		<div class="col-md-3">
  				<div class="panel panel-danger">
  	  				<div class="panel-heading">Pressure</div>
					<div class="panel-body">
						<h1>1010.0<small> hPa</small></h1>
					</div>
				</div>
			</div>
			<div class="col-md-3">
  				<div class="panel panel-success">
  	  				<div class="panel-heading">Humidity</div>
					<div class="panel-body">
						<h1>36.0<small> %</small></h1>
					</div>
				</div>
			</div>
		</div>
    				</div>
				</div>
			</div>
		</div>
